body{
    margin:0;
    padding:0;    
    font-size : 24px;
}

#menu ul {
    list-style: none;
    margin:0;
    padding:10px 20px;
}

#menu ul li {
    display:inline-block;
    margin-right:20px;
}

#menu ul li a{
    color: #000000;
    text-decoration : none;
    font-size : 24px;
}

#articles ul {
    list-style:none;
    padding:0 0 0 0px;
}

#articles ul li{
    font-size:32px;
    padding:10px 0;
    padding-left:20px;
    border-bottom: 1px solid #000000;
}

#articles ul li h2{
    display: inline-block;
    margin:0;
    font-size:1em;
}

#articles ul li a {
    color : #000000;
    text-decoration:none;
}
#articles ul li a:hover {
    color : #0000ff;
}
 #articles ul li span , #articles h2{
    padding-right:20px;
}

#content-wrapper{
    width:80%;
    margin:auto ;
}    


#content-wrapper h1{
    font-size : 52px;
    margin: 20px 0 0 0 ;
}

#metad{
    margin: 5px 0 30px 0;
}

#metad span {
    font-size : 24px;
//    margin-right:20px;
}

#metad span:after{
    content:" / ";
    margin: 0 20px 0 20px;


}
#metad .cat {
    font-weight: bolder;
}

#metad .author {
    font-style: italic;
}

#metad .date {
}


img {
    width:100%;
    height:auto;
}

p img{
    width:150px;
    height:auto;
    float:left;
    margin: 20px;
 
}

p b img{
    width:250px;
}
p em img{
    float:right;

}


p{
    line-height:1.5em;
    margin-top:1.5em;
    margin-bottom:1.5em;
    text-align:justify;
}















